/** BS"D */

.testtable-even {
	background-color: lightgrey;
}

.testtable-odd {
	background-color: lightblue;
}

.testtable-header {
	background: darkblue;
	color: white;
	font-weight: bold;
	height: 25px;
}

.testtable-right {
	text-align: right;
}